
.container {
    max-width: 1000px; 
    margin: auto; 
    background-color: rgb(248, 241, 241);
}
h3 {
    max-width: 200px; 
    margin: auto;
}
select {
    height: 22px;
}
.form {
    max-width: 250px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 120px;
    border: solid 1px;
    border-radius: 5px;
    padding: 0 20px;
}
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 20px;
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-rows: 50px 50px 50px 34px 50px;
    grid-template-columns: 150px 100px;

}
.gridItem {
    grid-row-start: 1;
    grid-row-end: 5;
    max-width: 150px;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}