.backLight {
    background-color: cornsilk;
}
.container {
    width: 420px;
    margin: auto;
}
main {
    width: 300px;
}
aside {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 56px 10px 0 0; 
}
.keyboard {
    display: flex;
    width: 417px;
    margin: auto;
    background-color: rgb(143, 143, 143);
    border: 1px solid;
    border-radius: 5px;
}
main button {
    width: 25px;
    height: 25px;
    margin: 1px;
}
header button {
    width: 25px;
    height: 25px;
    margin: 1px;
}
aside button {
    font-size: 8px;
    margin: 1px;
}
.area {
    width: 240px;
    margin: auto;
}
.keyboard button {
    height: 25px;
}
.back_space {
    width: 150px;
    margin: 0 107px 0 0;
}
.upArrow {
    margin: -21px 0px 0px;
    position: absolute;
}
.enter {
    position: absolute;
    margin: -40px 0px 0px 38px;
    width: 45px;
}
header{
    margin: 0px 0px 3px -40px;
}